{% extends 'layouts/application.html' %}

{% block content %}
<div class="container-fluid container-max-width">
  <h3>Shared</h3>
  <p class="d-flex flex-column">
    <a href="/kare/styleguide.html" target="_blank">Styleguide</a>
    <a href="/kare/footer.html" target="_blank">Footer</a>
  </p>
  <h3>Catalog</h3>
  <p class="d-flex flex-column">
    <a href="/kare/catalog-1-level.html" target="_blank">catalog-1-level</a>
    <a href="/kare/catalog-1-level-seo.html" target="_blank">catalog-1-level-seo</a>
    <a href="/kare/catalog-2-level.html" target="_blank">catalog-2-level</a>
    <a href="/kare/catalog-3-level.html" target="_blank">catalog-3-level</a>
    <a href="/kare/catalog-not-found.html" target="_blank">catalog-not-found</a>
  </p>
  <h3>Product</h3>
  <p class="d-flex flex-column">
    <a href="/kare/product-full-view.html" target="_blank">product-full-view</a>
    <a href="/kare/product-minimal-view.html" target="_blank">product-minimal-view</a>
  </p>
  <h3>Popups</h3>
  <p class="d-flex flex-column">
    <a href="/kare/popup-fast-order.html" target="_blank">popup-fast-order</a>
    <a href="/kare/popup-fast-order-success.html" target="_blank">popup-fast-order-success</a>
  </p>
  <p class="d-flex flex-column">
    <a href="/kare/popup-subscribe-product.html" target="_blank">popup-subscribe-product</a>
    <a href="/kare/popup-subscribe-product-success.html" target="_blank">popup-subscribe-product-success</a>
  </p>
  <p class="d-flex flex-column">
    <a href="/kare/popup-subscribe-product-2.html" target="_blank">popup-subscribe-product-2</a>
    <a href="/kare/popup-subscribe-product-2-success.html" target="_blank">popup-subscribe-product-2-success</a>
  </p>
  <p class="d-flex flex-column">
    <a href="/kare/popup-question.html" target="_blank">popup-question</a>
    <a href="/kare/popup-question-success.html" target="_blank">popup-question-success</a>
  </p>
  <p class="d-flex flex-column">
    <a href="/kare/popup-review.html" target="_blank">popup-review</a>
    <a href="/kare/popup-review-success.html" target="_blank">popup-review-success</a>
  </p>
  <div class="divider-large"></div>
</div>
{% endblock %}
