{% extends 'layouts/application.html' %}

{% block content %}
<div class="container-fluid">
  {% include "_catalog/catalog-breadcrumb-3.html" %}
</div>
<div class="divider"></div>
<div class="container-fluid container-max-width">
  <h1 class="catalog-title mb-4 mb-sm-3">Диваны и кресла</h1>
  <div class="row">
    <div class="col col-12 col-md-side">
      {% include "_catalog/catalog-filter.html" %}
    </div>
    <div class="col col-section">
      <div class="catalog-container">
        {% include "_catalog/catalog-toolbar-2.html" %}
        {% include "_shared/catalog-list-cols-3.html" %}
        {% include "_catalog/catalog-footer.html" %}
        {% include "_catalog/catalog-bottom-text-info.html" %}
      </div>
    </div>
  </div>
  <div class="divider-large"></div>
</div>
{% endblock %}

{% block javascript %}
  {% include "_catalog/catalog-scripts.html" %}
{% endblock %}
