{% extends 'layouts/application.html' %}

{% block content %}
<div class="container-fluid">
  {% include "_catalog/catalog-breadcrumb.html" %}
</div>
<div class="divider"></div>
<div class="container-fluid container-max-width">
  <h1 class="catalog-title mb-4 mb-sm-3">Каталог</h1>
  {% include "_catalog/catalog-category.html" %}
  <div class="catalog-container">
    {% include "_shared/catalog-toolbar-1.html" %}
    {% include "_shared/catalog-list-cols-4.html" %}
    {% include "_shared/catalog-footer.html" %}
  </div>
  <div class="divider-large"></div>
</div>
{% endblock %}

{% block javascript %}
  {% include "_catalog/catalog-scripts.html" %}
{% endblock %}
