{% extends 'layouts/application.html' %}

{% block content %}
<div class="container-fluid container-max-width">
  <div class="h1">Заголовок 1</div>
  <div class="h2">Заголовок 2</div>
  <div class="h3">Заголовок 3</div>
  <div class="h4">Заголовок 4</div>
  <div class="h5">Заголовок 5</div>
  <div class="h6">Заголовок 6</div>
  <br>
  <div class="d-flex">
    <button type="button" class="btn btn-primary text-uppercase btn-sm btn_higher">Кнопка</button>
    <button type="button" class="btn btn-primary text-uppercase btn-sm btn_higher" disabled>Неактивна</button>
  </div>
  <br>
  <div class="d-flex">
    <button type="button" class="btn btn-outline-primary text-uppercase btn-sm btn_higher">Кнопка</button>
    <button type="button" class="btn btn-outline-primary text-uppercase btn-sm btn_higher" disabled>Неактивна</button>
  </div>
  <br>
  <div class="d-flex">
    <button type="button" class="btn btn-outline-secondary text-uppercase btn-sm btn_higher">Кнопка</button>
    <button type="button" class="btn btn-outline-secondary text-uppercase btn-sm btn_higher" disabled>Неактивна</button>
    <button type="button" class="btn btn-outline-secondary text-uppercase btn-sm btn_higher btn-outline-secondary_checked">Отмечена</button>
  </div>
  <br>
  <span class="btn btn-outline-secondary">
    <span class="icon icon_sm icon_sort-black icon_black-muted mr-2 btn__icon">
      {{ sprite('sort-black') }}
    </span>
    <span class="text-muted mr-2">Сортировать</span>
    <span>по популярности</span>
    <span class="icon icon_sm icon_triangle ml-2 btn__icon"></span>
  </span>
  <br>
  <input class="form-control" type="text" placeholder="Подсказка" value="">
  <br>
  <input class="form-control" type="text" placeholder="Подсказка" value="Заполнено">
  <br>
  <select class="form-control bootstrap-select" name="" id="">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
  </select>
  <br>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" checked>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"></span>
  </label>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"></span>
  </label>
  <br>
  <label class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" checked>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"></span>
  </label>
  <label class="custom-control custom-radio">
    <input type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"></span>
  </label>
</div>
{% endblock %}
