<h1 class="main-catalog__title">Заказ принят</h1>

<div class="confirm-order">
	<div class="base-text custom-input-block--ind">Ваш заказ успешно оформлен!</div>
	<div class="two-sides custom-input-block--ind">
		<div>
			<p class="gray-text">Номер заказа</p>
			<p>KARE559</p>
		</div>
		<div>
			<p class="gray-text">Дата оформления</p>
			<p>26.11.2016</p>
		</div>
	</div>
	<p class="gray-text">На почтовый адрес <a href="mailto:e.mail@mail.ru">e.mail@mail.ru</a> отправлена копия заказа.</p>
	<div class="gray-text custom-input-block--ind">Отследить состояние заказа можно в вашем <a href="#">личном кабинете.</a></div>
	<div class="two-sides">
		<div><a href="#" class="butn btn-base">оплатить заказ</a></div>
		<div><a href="#">Перейти на главную</a></div>
	</div>
</div>

