<div id="offcanvas-catalog-filter" uk-offcanvas="mode: push; overlay: true" class="catalog-offcanvas">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="catalog-filter d-flex flex-column mt-lg-4 js-catalog-filter">
      <div class="catalog-filter__section d-lg-none catalog-filter__section_buttons-mobile">
        <div class="catalog-filter__section-body">
          <button class="btn btn-sm btn-primary text-uppercase">Применить</button>
          <button class="btn btn-sm btn-outline-secondary text-uppercase ml-2">Сбросить</button>
        </div>
      </div>
      <div class="catalog-filter__section border catalog-filter__section_collapse catalog-filter__section_collapse_show">
        <div class="catalog-filter__section-header d-flex flex-nowrap">
          <span class="icon icon_sm icon_black icon_black-muted icon_chevron-up-black mr-2">
            {{ sprite('chevron-up-black') }}
          </span>
          <span class="catalog-filter__section-title h6 mb-0 mr-auto">Диваны</span>
          <span class="icon icon_sm icon_black icon_help-black catalog-filter__section-icon-help">
            {{ sprite('help-black') }}
          </span>
        </div>
        <div class="catalog-filter__section-body collapse show">
          {% include "_catalog/catalog-form-field-search.html" %}
          <div class="dotdotdot dotdotdot_catalog-filter" data-module="dotdotdot" data-ellipsis="" data-height="146">
            <div class="js-text dotdotdot__text">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox1" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Прямые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
                <label class="custom-control custom-checkbox custom-control-sm">
                  <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox2" value="">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Угловые диваны</span>
                </label>
              </div>
            </div>
            <a class="typo-sm text-muted js-toggle dotdotdot__toggle js-toggle" href="#"><span>Показать все</span><span>Свернуть</span></a>
          </div>
        </div>
      </div>
      <div class="catalog-filter__section border catalog-filter__section_collapse catalog-filter__section_collapse_show">
        <div class="catalog-filter__section-header d-flex flex-nowrap">
          <span class="icon icon_sm icon_black icon_black-muted icon_chevron-up-black mr-2">
            {{ sprite('chevron-up-black') }}
          </span>
          <span class="catalog-filter__section-title h6 mb-0 mr-auto">Угол</span>
          <span class="icon icon_sm icon_black icon_help-black catalog-filter__section-icon-help">
            {{ sprite('help-black') }}
          </span>
        </div>
        <div class="catalog-filter__section-body collapse  show">
          <div class="custom-controls-stacked">
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox3" value="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Прямые диваны</span>
            </label>
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox4" value="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Угловые диваны</span>
            </label>
          </div>
        </div>
      </div>
      <div class="catalog-filter__divider"></div>
      <div
        class="catalog-filter__section border catalog-filter__section_collapse catalog-filter__section_collapse_show js-slider"
        data-min="8150"
        data-max="64200"
        data-abs-min="6400"
        data-abs-max="64200"
      >
        <div class="catalog-filter__section-header d-flex flex-nowrap">
          <span class="icon icon_sm icon_black icon_black-muted icon_chevron-up-black mr-2">
            {{ sprite('chevron-up-black') }}
          </span>
          <span class="catalog-filter__section-title h6 mb-0 mr-auto">Цена, р.</span>
          <span class="icon icon_sm icon_black icon_help-black catalog-filter__section-icon-help">
            {{ sprite('help-black') }}
          </span>
        </div>
        <div class="catalog-filter__section-body collapse show">
          {% include "_catalog/catalog-form-field-group-2.html" %}
          {% include "_catalog/catalog-slider-range-2.html" %}
        </div>
      </div>
      <div class="catalog-filter__section border catalog-filter__section_collapse">
        <div class="catalog-filter__section-header d-flex flex-nowrap">
          <span class="icon icon_sm icon_black icon_black-muted icon_chevron-up-black mr-2">
            {{ sprite('chevron-up-black') }}
          </span>
          <span class="catalog-filter__section-title h6 mb-0 mr-auto">Угол 2</span>
          <span class="icon icon_sm icon_black icon_help-black catalog-filter__section-icon-help">
            {{ sprite('help-black') }}
          </span>
        </div>
        <div class="catalog-filter__section-body collapse">
          <div class="custom-controls-stacked">
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input " type="checkbox" name="checkbox1" id="checkbox5" value="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Прямые диваны</span>
            </label>
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox6" value="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Угловые диваны</span>
            </label>
          </div>
        </div>
      </div>
      <div
        class="catalog-filter__section border catalog-filter__section_collapse catalog-filter__section_collapse_show js-slider"
        data-min="8150"
        data-max="64200"
        data-abs-min="6400"
        data-abs-max="64200"
      >
        <div class="catalog-filter__section-header d-flex flex-nowrap">
          <span class="icon icon_sm icon_black icon_black-muted icon_chevron-up-black mr-2">
            {{ sprite('chevron-up-black') }}
          </span>
          <span class="catalog-filter__section-title h6 mb-0 mr-auto">Размеры, см.</span>
          <span class="icon icon_sm icon_black icon_help-black catalog-filter__section-icon-help">
            {{ sprite('help-black') }}
          </span>
        </div>
        <div class="catalog-filter__section-body collapse show">
          {% include "_catalog/catalog-form-field-group.html" %}
          {% include "_catalog/catalog-slider-range.html" %}
        </div>
      </div>
      <div class="catalog-filter__section border">
        <div class="catalog-filter__section-body">
          <div class="custom-controls-stacked">
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox7" value="" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">В наличии</span>
            </label>
            <label class="custom-control custom-checkbox custom-control-sm">
              <input class="custom-control-input" type="checkbox" name="checkbox1" id="checkbox8" value="" disabled>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Акция</span>
            </label>
          </div>
        </div>
      </div>
      <div class="catalog-filter__section border d-none d-md-block">
        <div class="catalog-filter__section-body">
          <button class="btn btn-outline-primary text-uppercase btn-block">Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>

