.catalog-category {
  &__row {
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-breakpoint-down(xs) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .catalog-title + .catalog-category & {
      padding-top: 14px;

      @include media-breakpoint-down(sm) {
        padding-top: 10px;
      }

      @include media-breakpoint-down(xs) {
        padding-top: 0;
      }
    }
  }

  &__col {
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-breakpoint-down(xs) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .catalog-category__col + & {
      @include media-breakpoint-down(xs) {
        margin-top: -1px;
      }
    }
  }

  &__item {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    position: relative;

    &-link {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.catalog-card {
  padding: 1.25rem;
  font-size: $font-size-base;
  position: relative;
  width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
  transition: $transition-base;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
  }

  &_border,
  &:hover {
    border-color: $border-color;
  }

  &_border:hover {
    border-color: $gray-400;
  }

  &__image-wrap {
    position: relative;
    height: 220px;

    @include media-breakpoint-down(xs) {
      height: 120px;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &__name {
    font-size: .9375rem;
    line-height: 1.5rem; // 1.6
    max-width: 100%;
    overflow: hidden;
    max-height: 4.5rem;

    @include media-breakpoint-down(xs) {
      font-size: .8125rem;
      line-height: 1.25125rem; // 1.54
      max-height: 3.75375rem;
    }
  }

  &__link {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__info {
    width: 100%;
    max-width: 100%;
  }

  &-data {
    display: none;
  }

  &_small {
    .catalog-card__image-wrap {
      width: 100px;
      height: 100px;
      flex-basis: 100px;
      min-width: 100px;
      margin-right: 20px;

      @include media-breakpoint-down(sm) {
        width: 140px;
        height: 140px;
        flex-basis: 140px;
        min-width: 140px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .catalog-card__content {
      flex-grow: 1;
      max-width: 100%;
    }
  }

  &_order {
    .catalog-card__image-wrap {
      width: 60px;
      height: 60px;
      flex-basis: 60px;
      min-width: 60px;
      margin-right: 20px;
    }

    .catalog-card__content {
      flex-grow: 1;
      max-width: 100%;
    }

    .catalog-card__name {
      @include media-breakpoint-down(xs) {
        font-size: .9375rem;
        line-height: 1.667rem;
        max-height: 4.5rem;
      }
    }
  }

  &_cart {
    .catalog-card__image-wrap {
      width: 100px;
      height: 100px;
      flex-basis: 100px;
      min-width: 100px;
      margin-right: 20px;

      @include media-breakpoint-down(xs) {
        width: 60px;
        height: 60px;
        flex-basis: 60px;
        min-width: 60px;
      }
    }

    .catalog-card__name {
      @include media-breakpoint-down(xs) {
        font-size: .9375rem;
        line-height: 1.6rem;
        max-height: 4.5rem;
      }
    }

    .catalog-card__content {
      flex-grow: 1;
      max-width: 100%;
    }

    .catalog-card__counter {
      &.input-group {
        width: 112px;
        flex-basis: 112px;
        min-width: 112px;
      }
    }

    .catalog-card__cost {
      width: 146px;
      flex-basis: 146px;
      min-width: 146px;

      @include media-breakpoint-down(xs) {
        width: auto;
        min-width: 0;
        flex-basis: auto;
      }
    }

    .catalog-button-group {
      position: absolute;
      right: 20px;
      bottom: 20px;

      @include media-breakpoint-down(xs) {
        position: static;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.catalog-list {
  &-row.row {
    margin-top: map-get($spacers, 4);

    @include media-breakpoint-down(xs) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: -(map-get($spacers, 3));
    }
  }

  &-col {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-card {
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-down(xs) {
      margin-bottom: map-get($spacers, 3);
    }
  }
}

.catalog-button-group {
  .icon_basket-black,
  .icon_like-black {
    opacity: .5;
  }
}

.catalog-breadcrumb {
  margin-top: 20px;
}

.catalog-btn-more {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-slider {
  &.ui-slider {
    cursor: pointer;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 3px;
      top: 6px;
      background-color: $gray-400;
    }
  }

  .ui-slider-range {
    height: 3px;
    background-color: theme-color("primary");
    position: relative;
  }

  .ui-slider-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    border-radius: 100px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    outline: none;
    transform: translate(-50%, -50%);
  }
}

.catalog-filter {
  //@include media-breakpoint-down(sm) {
  //  position: fixed;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  width: 295px;
  //  padding: 20px;
  //  background-color: $white;
  //  z-index: 20;
  //}

  &__section {
    &-header {
      padding: 20px;
      cursor: pointer;
    }

    &-body {
      padding: 20px;

      .catalog-filter__section-header ~ & {
        margin-top: -9px;
        padding-top: 1px;
      }

      & > .form-check:last-child {
        margin-bottom: 0;
      }
    }

    .catalog-filter__section + & {
      margin-top: -1px;
    }

    &_collapse:not(.catalog-filter__section_collapse_show) {
      .catalog-filter__section-header .icon_chevron-up-black {
        transform: rotate(-180deg);
      }
    }

    &-icon-help {
      cursor: pointer;
      opacity: .3;
      transition: $transition-fade;

      &:hover {
        opacity: .5;
      }
    }

    &-footer {
      padding: 20px;
    }
  }

  &__divider {
    height: 20px;
  }

  .custom-controls-stacked {
    margin-top: -.25rem;
    margin-bottom: -.25rem;

    .custom-control:last-child {
      margin-bottom: 0;
    }
  }

  &__btn-apply,
  &__btn-reset {
    @include media-breakpoint-down(sm) {
      padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
      line-height: $input-btn-line-height-sm;
    }
  }
}

.catalog-message-box {
  padding: 40px;
}

.catalog-toolbar {
  .btn {
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }
}

.catalog-offcanvas {
  &.uk-offcanvas {
    @include media-breakpoint-up(md) {
      position: static;
      display: block;
    }

    &::before {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .uk-offcanvas-bar {
    @include media-breakpoint-down(sm) {
      padding-top: 56px;
    }

    @include media-breakpoint-up(md) {
      position: static;
      padding: 0;
      width: auto;
      transform: translateX(0);
    }
  }

  .uk-offcanvas-close {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .catalog-filter__section_buttons-mobile {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-top: -56px;
      margin-left: -$offcanvas-bar-padding-horizontal;
      margin-right: -$offcanvas-bar-padding-horizontal;
      border-bottom: 1px solid $border-color;
    }

    .catalog-filter__section-body {
      @include media-breakpoint-down(sm) {
        padding: 12px 20px;
      }
    }
  }
}
