ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

label {
  margin-bottom: 0;
}

button {
  border: 0;
}

p:last-child,
.text-content p:last-child {
  margin-bottom: 0;
}

.json_props {
  display: none !important;
}

.main_gray_bl {
  padding: 0 0 32px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper {
  flex: 1 1 auto;
}

.cf:after {
  content: '';
  display: table;
  clear: both;
}

.js-closed {
  display: none;
}

.js-opened {
  display: block;
}

.bx-system-auth-form {
  p {
    margin: 0;
  }

  font.errortext {
    position: absolute;
    bottom: 53px;
    left: 30px;
  }
}

.errortext {
  color: theme-color("danger");
  font-weight: 300;
}

.is-hidden {
  visibility: hidden;
}

.is-active .main-nav__sublist {
  visibility: visible;
  display: block;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}
