// ALSRubl

@font-face {
  font-family: "ALSRubl";
  src: url('../fonts/ruble/ruble.eot');
  src: url('../fonts/ruble/ruble.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ruble/ruble.woff') format('woff'),
  url('../fonts/ruble/ruble.ttf') format('truetype'),
  url('../fonts/ruble/ruble.svg#ALSRublRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic,cyrillic-ext');


// Ubuntu

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype'),
//   url('../fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/ubuntu/Ubuntu-Bold.otf')  format('opentype'),
//   url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
//   url('../fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype'),
//   url('../fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/ubuntu/Ubuntu-Medium.otf')  format('opentype'),
//   url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
//   url('../fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype'),
//   url('../fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/ubuntu/Ubuntu-Regular.otf')  format('opentype'),
//   url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
//   url('../fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype'),
//   url('../fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/ubuntu/Ubuntu-Light.otf')  format('opentype'),
//   url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff'),
//   url('../fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
//   font-weight: 300;
//   font-style: normal;
// }


// Kievit

@font-face {
  font-family: 'KievitPro';
  src: url('../fonts/kievit/kievit_regular.ttf') format('truetype'),
  url('../fonts/kievit/kievit_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kievit/kievit_regular.otf')  format('opentype'),
  url('../fonts/kievit/kievit_regular.woff') format('woff'),
  url('../fonts/kievit/kievit_regular.svg#kievit_regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


// Geometria

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria.eot');
  src: url('../fonts/geometria/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria.woff2') format('woff2'), url('../fonts/Geometria/Geometria.woff') format('woff'), url('../fonts/Geometria/Geometria.ttf') format('truetype'), url('../fonts/Geometria/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Heavy.eot');
  src: url('../fonts/geometria/Geometria-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Heavy.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Heavy.woff') format('woff'), url('../fonts/Geometria/Geometria-Heavy.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Heavy.svg#Geometria-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraBold.eot');
  src: url('../fonts/geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-ExtraBold.woff2') format('woff2'), url('../fonts/Geometria/Geometria-ExtraBold.woff') format('woff'), url('../fonts/Geometria/Geometria-ExtraBold.ttf') format('truetype'), url('../fonts/Geometria/Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Bold.eot');
  src: url('../fonts/geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Bold.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria/Geometria-Bold.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Medium.eot');
  src: url('../fonts/geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Medium.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria/Geometria-Medium.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Light.eot');
  src: url('../fonts/geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Light.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Light.woff') format('woff'), url('../fonts/Geometria/Geometria-Light.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraLight.eot');
  src: url('../fonts/geometria/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-ExtraLight.woff2') format('woff2'), url('../fonts/Geometria/Geometria-ExtraLight.woff') format('woff'), url('../fonts/Geometria/Geometria-ExtraLight.ttf') format('truetype'), url('../fonts/Geometria/Geometria-ExtraLight.svg#Geometria-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Thin.eot');
  src: url('../fonts/geometria/Geometria-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Thin.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Thin.woff') format('woff'), url('../fonts/Geometria/Geometria-Thin.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Thin.svg#Geometria-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Italic.eot');
  src: url('../fonts/geometria/Geometria-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Italic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-Italic.woff') format('woff'), url('../fonts/Geometria/Geometria-Italic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-Italic.svg#Geometria-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-HeavyItalic.eot');
  src: url('../fonts/geometria/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-HeavyItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-HeavyItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-HeavyItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-HeavyItalic.svg#Geometria-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraBoldItalic.eot');
  src: url('../fonts/geometria/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-ExtraBoldItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-ExtraBoldItalic.svg#Geometria-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-BoldItalic.eot');
  src: url('../fonts/geometria/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-BoldItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-BoldItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-BoldItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-BoldItalic.svg#Geometria-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-MediumItalic.eot');
  src: url('../fonts/geometria/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-MediumItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-MediumItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-MediumItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-MediumItalic.svg#Geometria-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-LightItalic.eot');
  src: url('../fonts/geometria/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-LightItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-LightItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-LightItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-LightItalic.svg#Geometria-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraLightItalic.eot');
  src: url('../fonts/geometria/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-ExtraLightItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-ExtraLightItalic.svg#Geometria-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ThinItalic.eot');
  src: url('../fonts/geometria/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-ThinItalic.woff2') format('woff2'), url('../fonts/Geometria/Geometria-ThinItalic.woff') format('woff'), url('../fonts/Geometria/Geometria-ThinItalic.ttf') format('truetype'), url('../fonts/Geometria/Geometria-ThinItalic.svg#Geometria-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
