.product-card {
  &__buttons {
    .btn + .btn {
      margin-left: 12px;
    }

    .buttons + .buttons {
      margin-left: 12px;

      @include media-breakpoint-down(xs) {
        margin-left: 0;
      }
    }
  }

  &__max-width {
    max-width: 362px;
  }
}

.product-card-header {
  &__nav {
    overflow: hidden;
    overflow-x: auto;

    @include media-breakpoint-down(sm) {
      margin-right: -$grid-gutter-width;
    }
  }
}

.product-detail-slider {
  &-prev,
  &-next {
    opacity: .25;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &.swiper-button-disabled {
      opacity: .25;
      cursor: default;
      pointer-events: none;
    }

    .product-detail-slider-disabled & {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }

  &-prev {
    right: 100%;
  }

  &-next {
    left: 100%;
  }

  &-slide__image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }
}

.product-detail-slider-main,
.product-detail-slider-navigation {
  position: relative;
  max-width: 500px;

  @include media-breakpoint-down(sm) {
    max-width: 320px;
  }
}

.product-detail-slider-main {
  .product-detail-slider-slide.swiper-slide {
    height: 500px;
    width: 500px;

    @include media-breakpoint-down(sm) {
      height: 320px;
      width: 320px;
    }
  }
}

.product-detail-slider-navigation {
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-top: 24px;
  }

  .product-detail-slider-slide.swiper-slide {
    width: 56px;
    height: 56px;
    margin-right: 24px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }

    &.is-selected {
      position: relative;
      cursor: default;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($gray-700, 0.15);
        z-index: 1;
      }
    }

    .product-detail-slider-disabled & {
      cursor: default;
    }
  }
}

.product-header {
  &__buttons {
    .btn + .btn {
      margin-left: .75rem;
    }

    .btn {
      &.swiper-button-disabled {
        opacity: .6;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

.product-slider {
  &-container {
    padding-left: 1px;

    @include media-breakpoint-down(sm) {
      padding-left: $grid-gutter-width + 1px;
      margin-left: -$grid-gutter-width;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 45px;
      background-image: linear-gradient(to right, rgba($white, 0), $white);
      z-index: 2;
    }

    &-vertical {
      padding-left: 0;
      padding-top: 1px;

      @include media-breakpoint-down(sm) {
        padding-left: 0;
        margin-left: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &-slide {
    width: 330px;
    flex-basis: 330px;
    max-width: 330px;
    align-self: stretch;

    @include media-breakpoint-down(sm) {
      width: 200px;
      flex-basis: 200px;
      max-width: 200px;
    }

    &:hover {
      z-index: 2;
    }

    .catalog-card {
      margin-left: -1px;
      width: calc(100% + 1px);
      max-width: calc(100% + 1px);
      min-height: 100%;
    }

    .product-slider-container-vertical & {
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
      }

      .catalog-card {
        margin-left: 0;
        margin-top: -1px;
        width: 100%;
        max-width: 100%;
        min-height: 0;
      }
    }
  }
}

.product-max-width {
  max-width: 482px;
}
