.subscribe__wrapper {
  position: relative;
  box-sizing: border-box;
  height: 150px;
  padding: 15px 20px;
  background: #EDDACC;
}

.subscribe__text {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  color: $white;
}

.subscribe__input-wrap {
  height: 40px;
  line-height: 1;
  color: $black;
}

.subscribe__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 1;
  color: $black;
  border: none !important;
  outline: none;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: $black;
  }
}

.btn_subscribe {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: #3D678D;
  cursor: pointer;
}

.subscribe__icon {
  display: none;
}

@media (min-width: 768px) {
  .subscribe__wrapper {
    padding: 25px 30px;
  }

  .subscribe__text {
    margin-bottom: 15px;
    font-size: 35px;
  }

  .subscribe__input-wrap {
    width: calc(100% - 40px);
    font-size: 15px;
  }

  .subscribe__input {
    font-size: 15px;
  }

  .btn_subscribe {
    width: 40px;
    font-size: 15px;
    overflow-x: hidden;
  }

  .subscribe__form {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .subscribe__wrapper {
    min-height: 210px;
    padding: 40px;
  }

  .subscribe__text {
    width: 66%;
    margin-bottom: 15px;
    font-size: 45px;
  }

  .subscribe__input-wrap {
    width: calc(100% - 140px);
  }

  .btn_subscribe {
    width: 140px;
  }

  .subscribe__inner {
    width: 66%;
  }

  .subscribe__icon {
    position: absolute;
    top: -14px;
    right: -17px;
    display: block;
    width: 200px;
    height: 232px;
    background: url("../icons/fingers-1200.png") no-repeat 0 0;
  }
}

@media (min-width: 1920px) {
  .info-main {
    .subscribe__wrapper {
      min-height: 235px;
      padding: 39px 60px;
    }

    .subscribe__text {
      width: 66%;
      margin-bottom: 28px;
      font-size: 55px;
    }

    .subscribe__inner {
      width: 66%;
    }

    .subscribe__icon {
      top: -48px;
      right: 79px;
      display: block;
      width: 308px;
      height: 308px;
      background: url("../icons/fingers-1920.png") no-repeat 0 0;
    }

    .subscribe__input-wrap {
      width: calc(100% - 187px);
      height: 50px;
    }

    .subscribe__input {
      padding: 5px 26px;
    }

    .btn_subscribe {
      height: 50px;
    }
  }
}

.subscribe {
  background-color: $blue;

  &__container {
    position: relative;
    max-width: 1000px;

    @include media-breakpoint-down(md) {
      max-width: 650px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 360px;
    }
  }

  &__row {
    margin-left: -16px;
    margin-right: -16px;
    min-height: 92px;
  }

  &__col-1,
  &__col-2,
  &__col-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__col-1 {
    flex: 0 0 280px;
    max-width: 280px;

    @include media-breakpoint-down(md) {
      flex-basis: calc(100% - 134px);
      max-width: calc(100% - 134px);
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__col-2 {
    flex: 0 0 calc(100% - 414px);
    max-width: calc(100% - 414px);

    @include media-breakpoint-down(md) {
      flex-basis: calc(100% - 134px);
      max-width: calc(100% - 134px);
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__col-3 {
    flex: 0 0 134px;
    max-width: 134px;
    max-height: 92px;

    @include media-breakpoint-down(sm) {
      position: static;
    }
  }

  &__image {
    width: 102px;
    height: 180px;
    background: url($subscribe-image-url) center center no-repeat;
    background-size: contain;
    margin-top: -40px;

    @include media-breakpoint-down(sm) {
      width: 74px;
      height: 131px;
      position: absolute;
      right: $grid-gutter-width;
      bottom: 0;
    }
  }

  .subscribe__hint {
    @include media-breakpoint-down(sm) {
      margin-right: 94px;
    }
  }
}


