// fonts
@import 'fonts';

// bootstrap
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/print';
@import 'node_modules/bootstrap/scss/reboot';
// @import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/images';
@import 'node_modules/bootstrap/scss/code';
@import 'node_modules/bootstrap/scss/grid';
// @import 'node_modules/bootstrap/scss/tables';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/transitions';
// @import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/button-group';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/custom-forms';
@import 'node_modules/bootstrap/scss/nav';
// @import 'node_modules/bootstrap/scss/navbar';
// @import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/breadcrumb';
@import 'node_modules/bootstrap/scss/pagination';
// @import 'node_modules/bootstrap/scss/badge';
// @import 'node_modules/bootstrap/scss/jumbotron';
// @import 'node_modules/bootstrap/scss/alert';
// @import 'node_modules/bootstrap/scss/progress';
// @import 'node_modules/bootstrap/scss/media';
// @import 'node_modules/bootstrap/scss/list-group';
// @import 'node_modules/bootstrap/scss/close';
// @import 'node_modules/bootstrap/scss/modal';
// @import 'node_modules/bootstrap/scss/tooltip';
// @import 'node_modules/bootstrap/scss/popover';
// @import 'node_modules/bootstrap/scss/carousel';

// utilities

@import 'node_modules/bootstrap/scss/utilities/align';
// @import 'node_modules/bootstrap/utilities/background';
@import 'node_modules/bootstrap/scss/utilities/borders';
@import 'node_modules/bootstrap/scss/utilities/clearfix';
@import 'node_modules/bootstrap/scss/utilities/display';
@import 'node_modules/bootstrap/scss/utilities/embed';
@import 'node_modules/bootstrap/scss/utilities/flex';
@import 'node_modules/bootstrap/scss/utilities/float';
// @import 'node_modules/bootstrap/scss/utilities/position';
@import 'node_modules/bootstrap/scss/utilities/screenreaders';
@import 'node_modules/bootstrap/scss/utilities/sizing';
@import 'node_modules/bootstrap/scss/utilities/spacing';
@import 'node_modules/bootstrap/scss/utilities/text';
@import 'node_modules/bootstrap/scss/utilities/visibility';

@import 'node_modules/uikit/src/scss/variables';
@import 'node_modules/uikit/src/scss/components/offcanvas';
@import 'node_modules/uikit/src/scss/components/switcher';

// swiper

@import 'node_modules/swiper/dist/css/swiper';

// tether

@import 'node_modules/tether/src/css/tether';

// old

@import 'slick';
@import 'old-style';
@import 'old-custom';
@import 'jquery.fancybox';
@import 'jquery.mCustomScrollbar';
@import 'customized-selectize';
@import 'custom';

// elements

@import 'common';
@import 'typo';
@import 'icon';
@import 'buttons';
@import 'pagination';
@import 'form-field';
@import 'catalogs';
@import 'grid';
@import 'breadcrumb';
@import 'header';
@import 'page-footer'; // old footer
@import 'p-footer';
@import 'custom-input';
@import 'forms';
@import 'input-group';
@import 'subscribe';
@import 'banners';
@import 'main-slider';
@import 'login-form';
@import 'search-form';
@import 'top-callback';
@import 'custom-forms';
@import 'showrooms';
@import 'showroom';
@import 'design';
@import 'map';
@import 'contacts-page';
@import 'catalog';
@import 'catalog-section';
@import 'catalog-page';
@import 'products';
@import 'reviews';
@import 'download-file';
@import 'options';
@import 'dotdotdot';
@import 'popover';
@import 'popup';
@import 'checkout';
@import 'cart';
@import 'text';
@import 'alert';
//@import 'catalog-detail-page';

// new-pages styles
@import 'new-base';
@import 'new-cart';
@import 'new-order';
@import 'new-other-pages';
@import 'new-media-queries';
@import 'new-preloader';
@import 'new-all';
@import 'new-print';
@import 'new-main-page';
@import 'drop';
@import 'main';
