{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/fix.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='yandex-verification' content='bec4f5de147900a8'>
    <meta name="google-site-verification" content="FKi6Km2lyiMqxy7CvzlJDJCnlaDHX54CsrQ-eUevhPU">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="page-body">
    <div class="uk-offcanvas-content">
      <div class="page-wrapper" id="page-wrapper">
        {% include "shared/page-header.html" %}
        {% block content %}{% endblock %}
      </div>
      {% include "shared/page-footer.html" %}
    </div>
    {% block popup %}{% endblock %}
    {% block javascript %}
    <script src="bitrix/js/main/core/core.js?1447319034110032"></script>
    <script src="bitrix/js/main/jquery/jquery-1.8.3.min.js?143290390393636"></script>
    <script src="bitrix/js/prmedia.tc/core.js?14684119582656"></script>
    <script src="bitrix/js/main/ajax.js?144731839935509"></script>
    <script src="bitrix/js/main/core/core_ajax.js?144731903434943"></script>
    <script src="bitrix/js/main/core/core_window.js?144731898196650"></script>
    <script src="bitrix/js/socialservices/ss.js?14329039021419"></script>
    <script src="bitrix/js/main/core/core_popup.js?144731840539448"></script>
    <script src="local/templates/kare_redisign/js/jqModal.js?14944915563355"></script>
    <script src="local/templates/kare_redisign/js/jquery.fancybox.js?149449155645891"></script>
    <script src="local/templates/kare_redisign/js/jquery.flexslider-min.js?149449155621817"></script>
    <script src="local/templates/kare_redisign/js/jquery.maskedinput-1.2.2.js?14944915566897"></script>
    <script src="local/templates/kare_redisign/js/jquery.easing.1.3.js?14944915568097"></script>
    <script src="local/templates/kare_redisign/js/jquery.validate.js?149449155658314"></script>
    <script src="local/templates/kare_redisign/js/equalize.min.js?1494491556588"></script>
    <script src="local/templates/kare_redisign/js/jquery.alphanumeric.js?14944915561972"></script>
    <script src="local/templates/kare_redisign/js/jquery.cookie.js?14944915563066"></script>
    <script src="local/templates/kare_redisign/js/main.js?150909990266329"></script>
    <script src="local/templates/kare_redisign/js/custom.js?150910031242178"></script>
    <script src="local/templates/kare_redisign/js/slick.min.js?149449155641953"></script>
    <script src="local/templates/kare_redisign/js/jquery.dotdotdot.js?149449155613142"></script>
    <script src="local/templates/kare_redisign/js/jquery-ui.min.js?1494491556240439"></script>
    <script src="local/templates/kare_redisign/js/jquery.ui-slider.js?149449155624324"></script>
    <script src="local/templates/kare_redisign/js/jquery.ui.touch-punch.js?14944915565074"></script>
    <script src="local/templates/kare_redisign/js/filter.js?150728975613242"></script>
    <script src="local/templates/kare_redisign/js/jquery.history.js?149449155621571"></script>
    <script src="local/templates/kare_redisign/js/device.min.js?14944915562606"></script>
    <script src="local/templates/kare_redisign/js/cookie.js?1494491556966"></script>
    <script src="local/templates/kare_redisign/js/jquery.inputmask.js?1494491556108940"></script>
    <script src="local/templates/kare_redisign/js/jquery.elevateZoom-3.0.8.min.js?149449155632922"></script>
    <script src="local/templates/kare_redisign/js/clipboard.min.js?149449155610112"></script>
    <script src="local/templates/kare_redisign/js/selectize.js?149449155698265"></script>
    <script src="local/templates/kare_redisign/js/jquery.mCustomScrollbar.concat.min.js?149449155645479"></script>
    <script src="local/templates/kare_redisign/components/bitrix/catalog.smart.filter/main/script.js?150764653214912"></script>
    <script src="javascripts/uikit.js"></script>
    <script src="javascripts/app.js"></script>
    <script type="text/javascript">
      $( '.js-slider' ).filterSlider();
    </script>
    {% endblock %}
  </body>
</html>
