<section class="product-card pl-md-7 product-max-width ml-auto mr-auto ml-md-0">
	{% include "_product/product-card-header.html" %}
	<div class="divider-small d-none d-md-block"></div>
	<div class="product-card__max-width">
		{% include "_product/product-card-prices.html" %}
		{% include "_product/product-card-buttons.html" %}
		<div class="mt-4">
			<span class="text-gray">Ближайшая отгрузка</span>
			<a class="text-primary" href="">25 сентября <span class="icon icon_sm icon_triangle-down icon_primary"></span></a>
		</div>
		<div class="divider-small"></div>
		{% include "_product/product-card-items.html" %}
		{% include "_product/product-card-share.html" %}
	</div>
</section>
