<section class="product-card pl-md-7 product-max-width ml-auto mr-auto ml-md-0">
	{% include "_product/product-card-header.html" %}
	<div class="divider-small d-none d-md-block"></div>
	<div class="product-card__max-width">
		{% include "_product/product-card-status-not-available.html" %}
		{% include "_product/product-card-buttons-2.html" %}
		<div class="divider-small"></div>
		{% include "_product/product-card-items.html" %}
		{% include "_product/product-card-share.html" %}
	</div>
</section>
